/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

@import url('https://fonts.googleapis.com/css2?family=Meow+Script&family=Montserrat:wght@200;400&display=swap');


a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem #fcd02e;
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

#LayoutBackground {
    background: url(/css/background.png);
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
.testing {
    display: inline;
    padding: 100px;
    padding-top: 300px;
}

.privacyText {
    color: #3d4663;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.text-box {
    color: #3d4663;
    padding: 10px;
    box-shadow: 4px 4px 0px #f13570;
    margin-left: 30px;
    border-color: #3d4663;
    border-width: thin
}

.searchTitle, .homeHeader, .gpTitle {
    font-family: 'Meow Script', cursive;
    font-size: 5.5em;
    color: #3d4663;
    display: block;
    margin-bottom: 80px;
    margin-top: 40px;
    background: -moz-radial-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.homeHeader, .gpTitle {  
    margin-bottom: 0;
}

.submit {
    margin-left: 30px;
    color: #3d4663;
    background-color: white;
    padding: 10px;
    border-color: #3d4663;
    text-align: center;
    text-decoration: none;
    background-color: white;
    box-shadow: 4px 4px 0px #fcd02e;
    border-width: thin
}

.dropDown {
    padding: 11px;
    color: #3d4663;
    box-shadow: 4px 4px 0px #f13570;
    border-color: #3d4663;
}

.searchResults {
    display: flex;
    margin-top: 50px;
    width: 100%;
}
.searchTable {
    padding-top: 50px;
    align-self: center;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    background-color: white;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    border: solid;
    border-color: #f13570;
}

.libraryTable {
    background-color: #404040;
    color: #fff;
}

td {
    padding: 10px 0px 10px 0px;
}

#ViewDetails {
    text-align: center;
}

.searchGeneral, .homeBackground {
    background-size: 100%;
    background-repeat:repeat;
    margin: 0;
    height: 100vh;
}

.homeBox {
    width: 50%;
    border: solid;
    border-color: #f13570;
    margin-left: 25%;
    margin-right: 25%;
    background-color: white;
    padding: 30px;
    font-family: 'Montserrat', sans-serif;
}

.homeLi1, .homeLi2 {
    list-style-type: none; 
    font-weight: 200;
}

.homeImage {
    width: 200px;
}

.navHeadings {
    display: flex;
}

.navLI, .navLI a {
    padding: 10px;
    color: #f13570;
    font-family: 'Montserrat', sans-serif;
}

.navHeading .labelFormat {
    color: #3d4663;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

