@{
    ViewData["Title"] = "Home Page";
}
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


<div class="text-center homeBackground">
    @if (SignInManager.IsSignedIn(User))
    {
        <h1 class="homeHeader">~ Girl Power ~</h1>
        <img class="homeImage" src="~/css/logo.png" alt="logo" />
        <div class="homeBox">
            <p class="homeSubhead">We're here to educate, to empower and to enlighten through books such as:</p>
            <ul class="homeUL">
                <li class="homeLi1">Dear Ijeawele: A Feminist Manifesto In Fifteen Suggestions</li>
                <li class="homeLi2">Feminists Don't Wear Pink: and other lies</li>
                <li class="homeLi1">Slay In Your Lane</li>
                <li class="homeLi2">I Know Why The Caged Bird Sings</li>
                <li class="homeLi1">The Power</li>
                <li class="homeLi2">Harry Potter (what's a library without Hogwarts?)</li>
            </ul>
        </div>
    }
    else
    {
        <h1 class="display-4">Welcome to Girl Power Library</h1>
        <p>You are not logged in, please register an account or sign in.</p>

    }

</div>
