@model List<Bookish.DataAccess.Book>
@{
    ViewData["Title"] = "Library!";
}
<h1>@ViewData["Title"]</h1>
<div>
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Genre</th>
                <th>Number of Copies</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Title</td>
                        <td>@item.Genre</td>
                        <td>@item.NumberOfCopies</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>